@import "bootstrap";
@import "users/passwords";
@import "users/new";
@import "users/session";
@import "tasks/create";

body {
  background-color: #EFF6FF !important;
}

.navbar {
  background-color: #67c6ec !important;
}

.navbar .navbar-brand {
  color: #fff !important;
}

.navbar .nav-link {
  color: #fff !important;
}